{% macro t(key) %}{{ {
  "edit.link.title": "Diese Seite bearbeiten",
  "footer.previous": "Vorherige Seite",
  "footer.next": "Nächste Seite",
  "meta.comments": "Kommentare",
  "meta.source": "Quellcode",
  "search.placeholder": "Suche",
  "search.result.placeholder": "Suchbegriff eingeben...",
  "search.result.none": "Keine passenden Dokumente",
  "search.result.one": "1 passendes Dokument",
  "search.result.other": "# passende Dokumente",
  "source.link.title": "Zum Quellcode-Repository",
  "toc.title": "Inhaltsverzeichnis"
}[key] }}{% endmacro %}
